* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto Mono', sans-serif;
  font-weight: 400;
  color: white;
  /* font-size: 16px; */
  /* line-height: 1.6; */
  background: rgb(0,0,0);
  background: linear-gradient(115deg, #000 0%, #2D2D2D 100%);
}

/* ----- fonts ----- */

/* h1, h2, h3 {
  font-size: 16px;
  display: inline-block;
} */

h1 {
  font-size: 3em;
  margin: 0;
}

/* h2 {
  color: #B6B6B6;
} */

a {
  text-decoration: none;
  color: white;
}

/* ----- container ----- */

.container {
  max-width: 1164px;
  margin: auto;
  /* padding: 0 5em; */
}

/* ----- navigation ----- */

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
}

.nav__brand {
  display: flex;
  align-items: center;
}

.nav__logo {
  height: 45px;
  margin-right: 50px;
}

.nav__elem {
  display: flex;
  list-style-type: none;
}

.nav__bio {
  margin-left: 90px;
}

/* ----- section ----- */

.intro {
  /* display: flex;
  flex-direction: column;
  max-width: 85%;
  margin: 0 auto; */
  margin-top: 80px;
  max-width: 1056px;
}

.intro__text {
  margin-bottom: 65px;
}

/* .bio {
  text-align: justify;
  margin: 5px 0;
} */

.divider {
  border-bottom: 1px solid white;
  margin-right: 90%;
}

/* ----- music ----- */

.music {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 80px;
}

.card {
  margin-bottom: 80px;
}

.rerajahan, .insel {
  justify-self: center;
}

.together {
  justify-self: end;
}

/*.together {
  margin-right: 0px;
} */

.music__release {
  margin-bottom: 25px;
}

.music__catalog {
  font-size: .85em;
  color: #B6B6B6;
}

.music__title {
  font-weight: 700;
  margin-top: 5px;
}

/* @media only screen and (min-width: 992px) {
  .music {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* max-width: 85%; */
    /* margin: 80px auto;
    justify-content: space-between;
  }
}*/

/* .together, .recel, .insel, .rerajahan, .lubdub {
  display: flex;
  flex-direction: column;
  /* margin: 15px 0; */
/*} */

/*.recel {
  margin-top: 45px;
} */

/* .release {
  margin: 0 auto;
} */

/* .art {
  max-width: 85%;
  display: block;
  margin: 0 auto;
} */

/*----- footer -----*/

/* .contact {
  display: flex;
  justify-content: space-around;
  max-width: 70%;
  margin: 15px auto;
  margin-top: 30px;
  text-align: center;
} */

.contact {
  margin: 180px auto 36px;
  text-align: center;
}

/* .icon {
  width: 40px;
  height: 40px;
} */

/* .mail {
  padding: 3px;
} */

/* .tube {
  padding: 1px;
} */

/* .embed {
  border: 0;
  width: 85%;
  height: 42px;
  margin: 0 auto;
} */

@media all and (min-width: 600px) {
  /* .bio {
    text-align: center;
  } */

  /* .portfolio {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 85%;
    margin: 0 auto;
  } */

  /* .recel, .insel {
    margin-top: 15px;
  } */

  /* .contact {
    justify-content: space-around;
    max-width: 35%;
  } */
}

