/* ---------- document ---------- */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body {
    font-family: 'Roboto Mono', sans-serif;
    color: white;
    background: rgb(0, 0, 0);
    background: linear-gradient(115deg, #000 0%, #2D2D2D 100%);
}

.container {
    /* margin: auto; */
    padding: 1.5em 1.25em;
}

@media only screen and (min-width: 992px) {
    .container {
        max-width: 1164px;
        margin: 3em auto 2.25em;
        padding: 0;
    }
}


/* ---------- general ---------- */

a {
    text-decoration: none;
    color: #fff;
}


/* ---------- head ---------- */

.head {
    display: flex;
    justify-content: space-between;
}

@media only screen and (min-width: 992px) {
    .head {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .head-left {
        display: flex;
        align-items: center;
    }
}

.head-logo {
    height: 35px;
}

@media only screen and (min-width: 992px) {
    .head-logo {
        height: 44px;
        margin-right: 1.5em;
    }
}

.head-title {
    display: none;
}

@media only screen and (min-width: 992px) {
    .head-title {
        display: inline-block;
    }
}

.head-toggle {
    background: transparent;
    border: 0;
    cursor: pointer;
    position: relative;
    z-index: 1000;
}

@media only screen and (min-width: 992px) {
    .head-toggle {
        display: none;
    }
}

.hamburger {
    display: block;
    position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
    background: #fff;
    width: 2em;
    height: 3px;
    /* border-radius: 1em; */
    transition: transform 250ms ease-in-out;
}

.hamburger::before,
.hamburger::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
}

.hamburger::before {
    top: 6px;
}

.hamburger::after {
    bottom: 6px;
}


/* ---------- nav ---------- */

.nav {
    position: fixed;
    background: linear-gradient(115deg, #000 0%, #2D2D2D 100%);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    transform: translateX(100%);
    transition: transform 250ms cubic-bezier(0.5, 0, 0.5, 1);
}

@media only screen and (min-width: 992px) {
    .nav {
        position: unset;
        background: none;
        transform: none;
        transition: none;
    }
}

.nav-list {
    list-style: none;
    margin-top: 7.5em;
}

@media only screen and (min-width: 992px) {
    .nav-list {
        display: flex;
        margin-top: 0;
        text-align: center;
    }
}

.nav-item {
    margin: 0 0 2.5em 3em;
    height: 1.375em;
}

@media only screen and (min-width: 992px) {
    .nav-item {
        margin: 0;
        width: 100px;
    }

    .nav-hide {
        display: none;
    }
}

.nav-link {
    font-weight: 700;
    font-size: .85em;
    text-decoration: none;
}

@media only screen and (min-width: 992px) {
    .nav-link {
        font-weight: 400;
        font-size: 1em;
    }
}

.nav-link:hover,
.active {
    color: #7BECD8;
}

.active {
    border-left: 4px solid #7BECD8;
    position: absolute;
    left: 1.75em;
    padding-left: 1.75em;
}

@media only screen and (min-width: 992px) {
    .active {
        color: inherit;
        position: unset;
        border-left: none;
        padding-left: 0;
    }
}

.nav-open .nav {
    transform: translateX(0);
}

.nav-open .hamburger {
    transform: rotate(0.625turn);
}

.nav-open .hamburger::before {
    transform: rotate(90deg) translateX(-6px);
}

.nav-open .hamburger::after {
    opacity: 0;
}


/* ---------- description ---------- */

.description {
    margin-top: 2em;
}

@media only screen and (min-width: 992px) {
    .description {
        margin-top: 5em;
    }
}

.desc-text {
    font-size: 1.5em;
    font-weight: 400;
    margin-bottom: 1.5em;
}

@media only screen and (min-width: 992px) {
    .desc-text {
        max-width: 1056px;
        font-size: 3em;
        margin-bottom: .75em
    }
}

.divider {
    border-bottom: 1px solid #fff;
    width: 100px;
}


/* ---------- releases ---------- */

.releases {
    display: grid;
    margin-top: 3.75em;
}

@media only screen and (min-width: 992px) {
    .releases {
        grid-template-columns: 1fr 1fr 1fr;
        margin-top: 4.5em;
    }
}

.rel-card {
    justify-self: center;
    margin-bottom: 2.5em;
}

@media only screen and (min-width: 992px) {
    .rel-card {
        margin-bottom: 5em;
    }
}

.rel-card_top {
    margin-bottom: 1.5em;
}

.rel-card_cat {
    font-size: .875em;
    color: #B6B6B6;
    margin-bottom: .25em;
}

.rel-card_title {
    font-weight: 700;
}

.bandcamp {
    border: 0;
    width: 280px;
    height: 422px;
}

@media only screen and (min-width: 992px) {
    .bandcamp {
        width: 350px;
        height: 470px;
    }
}


/* ---------- footer ---------- */

.footer {
    display: flex;
    margin-top: 4em;
    justify-content: center;
}

@media only screen and (min-width: 992px) {
    .footer {
        margin-top: 6.25em;
    }
}

.icon {
    height: 2em;
    margin: 0 .25em;
}






/* .nav__big {
    display: none;
}

.nav__elem {
    display: flex;
    list-style-type: none;
}

.nav__bio {
    margin-left: 90px;
} */

/* ---------- mixes ---------- */

.mixes__title {
    margin: 3.75em 0 1.25em;
    text-align: center;
}

.mixes__description {
    margin-bottom: 2em;
}

.mixes__soundcloud {
    margin-bottom: 40px;
}

.mixes {
    margin-bottom: 1em;
}


/* ---------- bio ---------- */

.bioimg {
    width: 100%;
    margin-top: 5.8em;
    z-index: -1;
    position: absolute;
}

.bio {
    margin-top: 9em;
    font-weight: 400;
}

.bio__text {
    margin-top: 3.75em;
    line-height: 1.5;
}


/* ---------- footer ---------- */

.social {
    display: flex;
    margin: 18.5em auto 1.5em;
    /* margin: 65px auto 25px; */
    /* margin: 180px auto 36px; */
    /* text-align: center; */
}

.social li {
    margin: 0 4px;
}



.current {
    width: 100px;
    border-bottom: 4px solid #7BECD8;
}


/* ---------- tablet ---------- */

@media all and (min-width: 800px) {
    /* .container {
        padding: 0 2em;
    } */

    .brand {
        display: none;
    }

    .nav__big {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 3em;
    }

    .nav__logo {
        height: 45px;
        margin-right: 50px;
    }

    .nav__brand {
        display: flex;
        align-items: center;
    }

    .music {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .bioimg {
        max-width: 50%;
        right: 2em;
    }

    .bio {
        max-width: 70%;
    }
}


/* ---------- desktop ---------- */

@media only screen and (min-width: 992px) {
    .brand {
        margin-top: 50px;
    }

    .intro {
        margin-top: 80px;
        max-width: 1056px;
    }

    .intro__text {
        margin-bottom: 65px;
    }

    .music {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        /* max-width: 85%; */
        margin-top: 80px;
        justify-content: space-between;
    }

    .mixes__description {
        text-align: center;
        margin-bottom: 3em;
    }

    .bio {
        margin-top: 7em;
        max-width: 90%;
    }
}